<div class="form_section">
		<p class="bg-danger" id="message"></p>
		<div class="form-group">
			<%= text_field_tag :url, '', placeholder: 'Enter URL', class: 'form-control' %>
		</div>
		<ul id="urls">
			<% @urls.each do |url| %>
				<li><%= url.link %></li>
			<% end %>
		</ul>
	</div>
<div>

<script type="text/javascript">
	urls = [<%= raw(@urls.collect{|url| "\"#{url.link}\""}.join(', ')) %>];
	$('#url').keypress(function(e) {
			$('#message').html('');
	    if(e.which == 13) {
	    	checkOrAddUrl($(this), $('#urls'), $('#message'));
	    }
	});
	setInterval(function() {checkAndSyncUrls('#urls', '<%= stored_urls_path %>')}, 15000);
</script>