
<div style="margin: 30px 15px 0;">
	<ul class="nav nav-pills">
		<% 5.times do |t| %>
		  <li role="presentation" class="<%= "active" if (params[:page].blank? && t == 0) || params[:page].to_i == t + 1 %>">
		  	<%= link_to "Set #{t+1}", map_path(page: t + 1) %>
		  </li>
	  <% end %>
	</ul>
</div>


<main role="main">
	<div id="sidebar_builder" style='width: 100%; height: 600px;'></div>
</main>

<div id='sidebar_container'>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		handler = Gmaps.build('Google');
		var markers;
		handler.buildMap({ internal: {id: 'sidebar_builder'}}, function(){

			json_array = <%= @final_hash.html_safe %>;

			var markers = handler.addMarkers(json_array);

			_.each(json_array, function(json, index){
				json.marker = markers[index];
				json.marker.serviceObject.icon = json.icon;
			});

			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
		});
	});
</script>