@font-face {
  font-family: 'Proxima Nova Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Proxima Nova Regular'), url(asset-path('fonts/Mark Simonson - Proxima Nova Regular.woff')) format('woff');
}

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
body{
  font-family: 'Proxima Nova Regular';
  background-color: #eee;
}
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  max-width: inherit !important; 
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 30px; // accommodate the navbar
}
section {
  @extend .row;
  margin-top: 20px;
}
.form_section{ 
  width:450px; 
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  border: 1px #000;
  padding: 15px 20px;
  margin-top: 50px;
  input.form-control{
    box-shadow: none;
    height: 40px;
  }
  .bg-danger{
    padding: 10px;
    background-color: #fff;
    color: #e8197a;
    font-size: 12px;
  }
  ul{
    margin: 0;
    padding: 0px;
    li{
      list-style: none;
      padding-bottom: 10px;
      word-wrap: break-word;
    }
  }
}